body {
    background: linear-gradient(90deg, rgb(206, 2, 53) 45%, rgba(246, 80, 159, 1) 100%);
}

a {
    text-decoration: none;
    font-weight: bold;
}


.img-bg {
    width: auto auto;
}

.nav-link {
    color: slateblue;
}

.container-fluid>a {
    color: blueviolet;
    font-weight: bold;
}

.navbar-nav>a {
    font-weight: bold;
}

.bolt {
    font-weight: bold;
}

h2,
.galer,
.kolor {
    color: mediumvioletred;
}

.text-center>h2,
.card,
h1 {
    background-color: lightpink;
}

.text-center {
    justify-content: center;
    align-items: center;
}

.inline-block {
    display: inline-block;
}



.inline-block img,
.razmer {
    width: 220px;
    height: 100px;
}

.inline-block h5 {
    animation: myAnim 2s ease 0s 10 normal forwards;
}


.img-gramot {
    justify-content: center;
    align-items: center;
}

.card-img-overlay img {
    width: 150px;
}

.niz,
.fon {
    background: linear-gradient(90deg, rgba(246, 80, 159, 1) 45%, rgba(206, 2, 53) 100%);
}

@keyframes myAnim {
    0% {
        animation-timing-function: ease-in;
        opacity: 1;
        transform: translateY(-45px);
    }

    24% {
        opacity: 1;
    }

    40% {
        animation-timing-function: ease-in;
        transform: translateY(-24px);
    }

    65% {
        animation-timing-function: ease-in;
        transform: translateY(-12px);
    }

    82% {
        animation-timing-function: ease-in;
        transform: translateY(-6px);
    }

    93% {
        animation-timing-function: ease-in;
        transform: translateY(-4px);
    }

    25%,
    55%,
    75%,
    87% {
        animation-timing-function: ease-out;
        transform: translateY(0px);
    }


    100% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0px);
    }
}